header
  text-align: center
  img
    width: 100%
    margin-bottom: 5px
    border-radius: 10%
  @media #{$below}
    font-size: 16px
    max-width: 450px
    margin-top: 10px
    padding: 0px 0 10px
    margin-bottom: 25px
    img
      width: 100px

  @media #{$above}
    margin-left: 250px
    font-size: 16px
    max-width: 550px
    img
      width: 200px


    


footer
  text-align: center
  @media #{$below}
    font-size: 16px
    max-width: 450px
    margin-top: 10px
    padding: 0px 0 10px
    margin-bottom: 25px

  @media #{$above}
    margin-left: 250px
    font-size: 16px
    max-width: 550px
    margin-bottom: 25px