header
  width: 200px
  padding: 0 50px 150px 0
  position: relative
  float: left
  text-align: center
  @media #{$below}
    float: none
    margin-left: auto
    margin-right: auto
  @media #{$small}
    width: 100%

  img
    width: 100%
    margin-bottom: 10px
    border-radius: 5px

  nav ul
    margin-bottom: 15px

  nav ul li
    margin-bottom: 10px

  p
    margin-bottom: 20px
    width: 80%

  small
    font-size: 0.9em
