$font-body: "Lato", sans
$font-heading: "Source Sans Pro", sans

$alpha: #9058b3
$beta: #fff
$gama: #fff

$above: "only screen and (min-width: 600px)"
$below: "only screen and (max-width: 600px)"
$small: "only screen and (max-width: 400px)"
